/* header */
.app {
    overflow: hidden;
}
.header {
    height: 80px;
}
.content {
    overflow: hidden;

}
.user-tablet i {
    font-size: 2.8rem;
}
.menu-tablet i {
    font-size: 2.4rem;
}
.header-list-mobile,
.user-tablet,
.menu-tablet,
.logo-tablet {
    display: none;
}
.header-top {
    padding-left: 20px;
    font-size: 1.3rem;
    height: 46px;
    background-color: #202020;
    line-height: 46px;
}
.overlay-mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0 , 0 , 0 , 0.3);
    display:none;
}
.nav-input-mobile {
    display: none;
}

.nav-input-mobile:checked ~ .header-list-mobile {
    display: block;
}
.nav-input-mobile:checked ~ .header-bottom .overlay-mobile {
    display: block;
}

.header-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-top-left-link i:first-child {
    position: relative;
    top: 1px;
}
.header-top-left-link i {
    color: var(--primary-color);
    padding-right: 6px;
}
.header-top-left-link {
    text-decoration: none;
    color: var(--white-color);
    margin-left: 0;
   
}
.header-top-left-link span {
    margin-right: 16px;
}

.header-top-right {
    color: var(--white-color);
}
.header-top-right-inner {
    display: flex;
}

.header-top-right-individual {
    display: flex;
}
.header-top-right-icons {
    margin-right: 36px;
}
.header-top-right-icon {
    padding: 0 4px;
}
.header-top-right-icons-link:hover {
    color: var(--primary-color);
}
.header-top-right-icons-link {
    text-decoration: none;
    color: var(--white-color);

}
.header-individual-language-link {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;
}
.header-individual-language {
    position: relative;
}
.header-individual-language:hover .header-individual-language-list {
    display: block;
}
.header-individual-language-list {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: var(--primary-color);
    margin: 0;
    display: none;
    z-index: 2;
    animation: growth ease-in 0.3s;
}
.header-individual-language-item {
    list-style: none;
}
.header-individual-language-item-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 500;
    position: relative;
}
.transition-line-white:hover::after {
    width: 100%;
    display: block;
}
.header-individual-language-link {
    padding: 16px 42px;
    background-color: #17abaf;
}
.header-individual-language-link i {
    font-size: 1rem;
}
.header-individual-user {
    background-color: var(--primary-color);
    padding: 0 16px;
    font-size: 2rem;
}
.header-bottom {
    background-color: var(--white-color);
    padding-left: 20px;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}
.header-bottom-img {
    width: 151px;
    height: 48px;
  
}
.header-bottom-list {
    list-style: none;
    display: flex;
    margin: 0;
    /* position: relative; */
}
.header-bottom-item::after {
    position: absolute;
    content: "";
    display: block; 
    height: 32px;
    width: 100%;
    top: 100%;
    left: 0;

}
.header-bottom-item {
    padding: 30px 40px;
    position: relative;
} 
.header-bottom-item-link {
    text-decoration: none;
    display: block;
    color: #212121;
    font-weight: 600;
    font-size: 1.7rem;
 
}

.menu-support {
    padding: 30px 0;
}
.header-bottom-support {
    font-size: 2rem;
    display: flex;
}
.header-bottom-support .menu-support {
    padding-left: 4px;
}
.menu-support:hover .menu-cart-list {
    display: block;
}
.menu-support:first-child {
    padding: 0 24px;
    display: flex;
    align-items: center;
}
.menu-support:hover {
    color: var(--primary-color);
}
.menu-support {
    position: relative;
}
.menu-cart-list {
    position: absolute;
    top: 99%;
    list-style: none;
    background-color: var(--white-color);
    width: 184px;
    right: 0;
    display: none;
    animation: growth ease-in 0.3s;
    z-index: 1;
}
.menu-cart-item {
    padding: 8px;
}
.menu-cart-item {
    padding: 24px;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    display: block;
}
.header-bottom-support i:last-child {
    padding-right: 20px;
}


/* home list item */
.header-bottom-item-link-text {
    position: relative;
}
.header-has-list-elements:hover .header-bottom-item-link-text,
.header-has-list-shop:hover .header-bottom-item-link-text,
.header-has-list-blog:hover .header-bottom-item-link-text,
.header-has-list-tours:hover .header-bottom-item-link-text,
.header-has-list-destination:hover .header-bottom-item-link-text,
.header-has-list-pages:hover .header-bottom-item-link-text,
.header-has-list-home:hover .header-bottom-item-link-text{
    color: var(--primary-color);
} 
.header-has-list-shop:hover .header-inner-list-shop ,
.header-has-list-blog:hover .header-inner-list ,
.header-has-list-tours:hover .header-inner-list ,
.header-has-list-destination:hover .header-inner-list ,
.header-has-list-pages:hover .header-inner-list ,
.header-has-list-home:hover .header-inner-list {
    display: block;
    
}

.header-inner-list {
    position: absolute;
    display: none;
    width: 250px;
    background-color: var(--white-color);
    top: 100%;
    left: 10px;
    padding-left: 0;
    border-radius: 3px;
    animation: growth ease-in 0.5s;
    z-index: 1;
}
@keyframes growth {
    from {
       
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        
        transform: translateY(0);
        opacity: 1;
    }
}
.header-inner-item:first-child {
    margin-top: 30px;
}
.header-inner-item:last-child {
    margin-bottom: 30px;
}
.header-inner-item {
    list-style: none;
    padding: 8px 36px;

}
.header-inner-item-link-text {
    position: relative;
    
}

.transition-line:hover::after {
    width: 100%;
    display: block;
}
.header-inner-item-link:hover {
    color: var(--primary-color);
}
.width-standard {

}
.header-inner-item-link {
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    position: relative;
    display: flex;
}
.header-inner-item-link-icon-right {
   
}
.icon-right-standard {
    margin-left: 60px;
}
.icon-right-types {
    margin-left: 80px;
}

/* header-inner-outer */
.header-inner-outer-list {
    position: absolute;
    left: 100%;
    width: 250px;
    background-color: var(--white-color);
    list-style: none;
    padding-left: 0;
    border-radius: 3px;
    display: none;
    padding: 30px 0;
    top: 42px;
    animation: growth ease-in 0.3s;
    z-index: 2;
}
.header-inner-outer-item {
    padding: 8px 36px;
}
.header-inner-outer-item-link {
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
   
}
.header-inner-item:hover .header-inner-outer-list {
    display: block;
}
.header-inner-outer-item-link span {
    position: relative;  
}
.text-outer:hover {
    color: var(--primary-color);
}
.header-inner-outer-item-link:hover .transition-line::after {
    width: 100%;
}

/* header-inner-list-shop */
.header-inner-list-shop {
    background-color: var(--white-color);
    position: absolute;
    top: 100%;
    left: -117%;
    display: none;
    animation: growth ease-in 0.5s;
    z-index: 1;
    width: 248px;
    list-style: none;
    padding-left: 0;
}
.header-inner-item-shop:first-child {
    margin-top: 30px;
}
.header-inner-item-shop:last-child {
    margin-bottom: 30px;
}
.header-inner-item-shop {
    padding: 8px 32px;
    position: relative;
}
.header-inner-item-link-shop {
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    position: relative;
}
.header-inner-item-link-shop {
    display: flex;
    justify-content: space-between;
}
.header-inner-item-link-shop:hover {
    color: var(--primary-color);
}
.header-inner-item-shop:hover .header-inner-outer-list-shop {
    display: block;
}
.header-inner-outer-list-shop {
    position: absolute;
    top: -66%;
    right: 100%;
    display: none;
    animation: growth ease-in 0.3s;
    z-index: 1;
    width: 248px;
    list-style: none;
    padding-left: 0;
    background-color: var(--white-color);
}

.header-inner-outer-item-shop {
    padding: 8px 32px;
}
.header-inner-outer-item-shop:first-child {
    margin-top: 30px;
}
.header-inner-outer-item-shop:last-child {
    margin-bottom: 30px;
}
.header-inner-outer-link-shop {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
}
.header-inner-outer-text-shop:hover {
    color: var(--primary-color);
}
.header-inner-outer-text-shop {
    position: relative;
}

/* list inner elements */
.header-has-list-elements:hover .inner {
    display: block;
}
.inner {
   width: 1349px;
   background-color: var(--white-color);
   position: absolute;
   left: -1012px;
   top: 100%;
   display: none;
   animation: growth ease-in 0.5s;
   z-index: 1;
}
.inner-list {
    display: flex;
    width: 1100px;
}
.nav-menu-item {
    list-style: none;
    font-size: 1.5rem;
    margin: 50px 71px;
}

.nav-menu-item-link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}
.outer-list {
    padding-left: 0;
    margin-top: 20px;
}
.nav-menu-item-list {
    list-style: none;
    padding-left: 0;
    padding: 8px 0;
    display: block;
}
.nav-menu-item-list-link:hover .transition-line::after {
    width: 100%;
}
.nav-menu-item-list-link:hover {
    color: var(--primary-color);
}
.nav-menu-item-list-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    position: relative;
}

/* header end */
/* <!-- img slider start --> */
.slider {
    height: 480px;
    background-color: aliceblue;
    background: url('/assest/img/from\ alps.jpg') top center / cover no-repeat ;
    position: relative;
    top: -2px;
}
.slider-info {
    position: absolute;
    left: 16%;
    top: 30%;
    text-align: center;
}
.slider-info-location {
    display: block;
    font-family: Satisfy,cursive;
    font-size: 40px;
    line-height: 1.8em;
    color: var(--black-color);
    
}

.slider-info-slogan {
    color: var(--white-color);
    font-size: 8.8rem;
}

.slider-info-description {
    color: var(--white-color);
    font-size: 1.8rem;
    line-height: 24px;
    font-weight: 600;
    color: var(--black-color);
}


/* trips start */
.flickity-button-icon:hover {
    color: var(--white-color) !important;
}
.flickity-button-icon {
    color: var(--primary-color) !important;
}
.flickity-button:hover {
    background-color: var(--primary-color) !important;
}
.flickity-button {
    background: var(--white-color) !important;  
}
.flickity-page-dots .dot {
    background-color: var(--primary-color) !important;
}
.content .main-carousel .flickity-prev-next-button{
    top: 25% ;
}
.content .main-carousel .flickity-viewport {
    left: 8px;
}
.content {
    height: 550px;
    margin-top: 16px;
    
}

.cell {
    width: 25%;
    height: 412px;
    overflow: hidden;
    padding-right: 16px;
   
}
.p-d-16 {
    padding-right: 0;
}

.img-trip {
    width: 320px;
    height: 190px;
    width: 100%;
    display: block;
    object-fit: cover;
}
.cell-body {
    height: 40px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    
}
.cell-body-duration-text {
    position: relative; 
}
.cell-body-duration-text:hover .transition-line-white::after {
    width: 100%;
}
.cell-body-duration:first-child {
    margin-left: 20px;
}
.cell-body-duration {
    padding: 0 10px;
    font-size: 1.6rem;
}
.cell-body-duration i {
    padding-right: 6px;
}
.cell-info {
    padding-left: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    
}
.cell-info-name:hover {
    color: var(--primary-color);
}
.cell-info-name {
    font-size: 2.2rem;
}
.cell-info-discription {
    font-size: 1.4rem;
    color: #666;
}
.cell-info-price {
    display: flex;
    margin-top: 14px;
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 20px;
   
}
.cell-info-price-cost {
    margin-right: 20px;
}
.cell-info-price-star {

}

/* view more */
.view-more {
  
    
}
.view-more-content {
    padding-bottom: 47px;
    text-align: center;
    margin-top: 26px;
}
.view-more-content-headding {
    display: block;
    font-family: Satisfy,cursive;
    font-size: 3.3rem;
    color: #3fd0d4;
}
.view-more-content-name {
    font-size: 6.5rem;
    font-weight: 600;
    letter-spacing: -.05em;
}
.view-more-content-video {
    position: relative;
    height: 350px;
    width: 737px;
    display: block;
    
}
.img-btn-video {
    position: relative;
    top: -221px;
    left: 323px;
}
.view-more-content-discripton {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #777;
    font-weight: 500;
    text-align: center;
    display: block;
    position: relative;
    top: -33px;
}
.view-more-content-btn {
    position: relative;
    left: 33%;
    padding: 23px 81px;
    background-color: var(--primary-color);
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 700;
    border: none;
    border-radius: 3px;
    margin-bottom: 130px ;
}
.view-more-content-btn:hover {
    cursor: pointer;
    background-color: rgb(57, 156, 158)
}

/* top-review */
.top-reviews {
    height: 670px;
    position: relative;
    overflow: hidden;
}
.top-review-background {
    height: 660px;
    width: 100vw;
}
.top-reviews-contents {
    position: absolute;
    top: 8%;
    right: 16%;
    text-align: center
}
.top-reviews-slogan {
    color: var(--white-color);
    font-size: 6.7rem;
    line-height: 2rem;
}
.top-reviews-description {
    color: var(--white-color);
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.8px;
}

.carousel {
    position: relative;
    top: -57%;
}
.carousel-cell {
    width: 33%;
    height: 230px;
    margin: 0px 15px;
    overflow: hidden;
    border-radius: 3px;
    display: flex;
    background-color: var(--white-color);
    padding: 45px 40px;
}
.carousel-cell-img {
    width: 106px;
    height: 106px;
    display: block;
    object-fit: cover;
}
.carousel-cell-info {
    margin-left: 24px;
}
.carousel-cell-info-headding {
    font-size: 2.2rem;
    color: #212121;
    margin: 0 0 18px;
}
.carousel-cell-info-headding:hover {
    color: var(--primary-color);
}
.carousel-cell-info-star {
    display: block;
    color: var(--primary-color);
    font-size: 1.6rem;
    margin-bottom: 18px;
}
.carousel-cell-info-text {
    display: block;
    font-size: 1.4rem;
    color: #666;
    letter-spacing: 1.2px;
}
.carousel-cell-info-name {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 18px;
}
.carousel .main-carousel .flickity-prev-next-button {
    top: 39%;
}
.carousel .main-carousel .flickity-viewport {
    left: 1px;
}
/* winter-holiday */
.winter-holiday {
  
}
.winter-holiday-content {
    text-align: center;
    margin-top: 130px;
}
.winter-holiday-content-slogan {
    font-size: 3.6rem;
    font-family: Satisfy,cursive;
    color: var(--primary-color);
}
.winter-holiday-content-headding {
    font-size: 6.3rem;
    font-weight: 600;
}
.winter-holiday-content-discription {
    display: block;
    font-size: 1.8rem;
    color: #666;
    letter-spacing: 0.8px;
    line-height: 28px;
}
.winter-holiday-container {
    display: flex;
    margin-top: 75px;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 90px;
}
.winter-holiday-body {
    margin-bottom: 40px;
}
.winter-holiday-body-img {
    position: relative;
    top:0;
    transition: top linear 0.17s;
}
.winter-holiday-body-img:hover {
    top: -4px;
}
.winter-holiday-body-location {
    margin-top: 36px;
    font-size: 1.8rem;
}
.winter-holiday-body-discription {
    display: block;
    font-size: 1.4rem;
    color: #666;
    line-height: 19px;
}

/* section members */
.section-team {
    
}
.section-team-members {
    display: flex;
    overflow: hidden;
    padding-left: 0;
    flex-wrap: wrap;
    margin-bottom: 0;
}
.section-team-member {
    overflow: hidden;
    position: relative;
}
.section-team-member-img {
    height: 475px;
    width: 103%;
}
.section-team-member:hover .section-team-content {
    display: block;
    height: 35%;
    opacity: 1;
}
.section-team-content {
    text-align: center;
    background-color: var(--primary-color);
    margin: 16px;
    position: absolute;
    bottom: -12px;
    display: block;
    width: 97%;
    height: 0;
    left: -4px;
    opacity: 0;
    transition: height 0.4s linear;
}
.section-team-content-heading {
    font-size: 2.1rem;
    color: var(--white-color);
}
.section-team-content-description {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.6rem;
    margin: 0 16px;
    color: var(--white-color);
}
.section-team-content-social {
    margin: 16px 0;
    font-size: 1.5rem;
    
}
.section-team-content-social-icons-link {
    text-decoration: none;
 
}
.section-team-content-social-icon {
    color: var(--white-color);
    padding: 0 8px;
    
}

/* counter-up start */
.counter-up {
    background-color: #3ABDC1;
    min-height: 250px;
    display: flex;
    align-items: center;
    margin-top: 7px;
}
.box {
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    text-align: center;
}
.box-counter {
    font-size: 6.5rem;
    font-weight: 600;
    line-height: 8rem;
}
.box-text {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    line-height: 3rem;
}

/* section-choose */
.section-choose {
    min-height: 500px;
    margin: 0 124px;
    text-align: center;
    margin: 130px 0;
}
.choose-info {

}
.choose-info-location {
    font-size: 3.6rem;
    font-family: Satisfy,cursive;
    color: var(--primary-color);
}
.choose-info-slogan {
    font-size: 6.3rem;
    font-weight: 600;
    margin-bottom: 55px;
}
.choose-info-description {
    display: block;
    font-size: 1.8rem;
    color: #666;
    letter-spacing: 0.8px;
    line-height: 26px;
}
.choose-imgs{
    margin-top: 40px;
}
.choose-img {
    border-radius: 100%;
    width: 250px;
    height: 250px;
}
.choose-image {
    transition: all 0.3s ease-in-out;
    
}
.choose-image:hover {
    transform: scale(1.02);
}


/* section-footer */
.section-footer {
    padding: 110px 90px;
    background-color: #212121;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.section-footer-body {
    margin-top: 30px;
}
.footer-link-logo {
    margin-bottom: 21px;
    display: block;
}
.footer-link-logo-img {
    width: 257px;
    height: 84px;
}
.footer-description-logo {
    font-size: 1.8rem;
    color: #9e9d9d;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 16px;
    display: block;
}
.footer-contact {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.footer-contact-link {
    text-decoration: none;
    color: var(--white-color);
    padding: 8px 0;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.footer-contact-link-text:hover {
    color: var(--primary-color);
}
.footer-contact-link-text {
    margin-left: 10px;
}

.footer-heading {
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 600;
}
.footer-heading:hover {
    color: var(--primary-color);
}
.footer-heading-info {
    font-size: 1.5rem;
    padding: 12px 0;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}
.footer-heading-info:first-child {
    padding-top: 0;
}
.footer-description:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.footer-description {
    color: var(--description-color);
    line-height: 2.2rem;
    font-size: 1.5rem;
}
.footer-date:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.footer-date {
    color: var(--white-color);
    line-height: 2.6rem;
}
.footer-form {
    display: flex;
    flex-direction: column;
  
}
.footer-form-input:first-child {
    margin-top: 26px;
}
.footer-form-input {
    padding: 18px 48px;
    border: none;
    margin-bottom: 6px;
    background-color: #595959;
    font-size: 1.4rem;
    width: 100%;
    font-weight: 800;
}
.footer-form-sub {
    padding: 18px 0;
    border: none;
    margin-bottom: 6px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
}
.footer-form-sub:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    cursor: pointer;
}
.footer-form-inner {
    display: flex;
}
.footer-form-inner {
    position: relative;
}
.footer-form-icon {
    position: absolute;
    font-size: 1.8rem;
    color: var(--white-color);
    top: 27%;
    left: 6%;
}
.mg-16 {
    margin-bottom: 26px;
    display: block;
}
.footer-contact-end {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 120px;
}
.footer-contact-end span {
    color: var(--description-color);
}
.footer-contact-end a {
    color: var(--white-color);
    text-decoration: none;
    padding-left: 4px;
}
.footer-contact-end a:hover {
    color: var(--primary-color);
}